<% provide(:title, "Edit user") %>
<% provide(:button_text, "Save changes") %>
<h1>Update your profile</h1>

<%= render 'form', user: @user, button: t('users.edit.button') %>

<%= link_to 'Show', @user %>
<%= link_to 'Back', users_path %>
